<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
                                 http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">

    <persistence-unit name="pu_railwaymanager" transaction-type="RESOURCE_LOCAL">

        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

        <non-jta-data-source>ds_railwaymanager</non-jta-data-source>

                <class>com.gazizov.railwaymanager.persistence.pojo.PassengerPO</class>
                <class>com.gazizov.railwaymanager.persistence.pojo.TicketPO</class>
                <class>com.gazizov.railwaymanager.persistence.pojo.TrainPO</class>
                <class>com.gazizov.railwaymanager.persistence.pojo.StationPO</class>
                <class>com.gazizov.railwaymanager.persistence.pojo.SchedulePO</class>
<!--                <class>com.gazizov.railwaymanager.persistence.pojo.</class>-->

        <properties>
<!--            <property name="persistenceXmlLocation" value="classpath*:persistence.xml" />-->
            <property name="hibernate.hbm2ddl.auto" value="update"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL5Dialect"/>
            <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/
            railwaymanager?useUnicode=true&amp;serverTimezone=UTC&amp;createDatabaseIfNotExists=true"/>

        </properties>

    </persistence-unit>


</persistence>
